JWT_SECRET=pick-a-long-random-string-here
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=1440


# backend/.env  (add this line)
SUPABASE_JWT_SECRET=71f58d82-2f47-48a4-8778-c778bf474a05
DATABASE_URL=postgresql://postgres:@db.iyzkopxqmmludyafvvbb.supabase.co:5432/postgres